.admin-panel {
	@include rounded-panel($sec1);

	.groups {
		@include rounded-panel($sec2);

		.group {
			font-size: 1.2em;

			display: flex;
			align-items: center;
			justify-content: center;

			margin: 0.2em 0;

			.name {
				font-weight: $fw-semibold;
			}

			div {
				min-width: 6em;
				margin: 0 0.5em;
			}

			.write,
			.public {
				padding: 0.3em;

				cursor: pointer;
				transition: $transition background-color, $transition border-color, color $transition;

				border: 3px solid;
				border-radius: $border-radius;

				&.off {
					color: $white;
					background: none;
				}
			}

			.write {
				border-color: $secondary;

				&.on,
				&.off:hover {
					color: $bkg;
					background: $secondary;
				}
			}

			.public {
				border-color: $primary;

				&.on,
				&.off:hover {
					color: $bkg;
					background: $primary;
				}
			}
		}
	}

	.users {
		@include rounded-panel($sec2);

		table {
			font-size: 1em;

			margin: 0 auto;

			border-collapse: collapse;

			tr {
				th,
				td {
					padding: 0.5em 1em;

					&:first-of-type {
						border-top-left-radius: $border-radius;
						border-bottom-left-radius: $border-radius;
					}

					&:last-of-type {
						border-top-right-radius: $border-radius;
						border-bottom-right-radius: $border-radius;
					}
				}

				th {
					color: $bkg;
					background: $secondary;
				}

				&:nth-of-type(even) {
					background: $sec3;
				}
			}

			.superuser {
				margin-left: 0.6rem;
				padding: 0.2em 0.3em;

				cursor: pointer;
				transition: $transition color, $transition background-color;

				border: 3px solid $secondary;
				border-radius: $border-radius;

				&.active,
				&:hover {
					color: $bkg;
					background-color: $secondary;
				}
			}
		}
	}

	.ebs {
		@include rounded-panel($sec2);
	}
}