.chart {
  padding: 0 0em;
  margin: 1em 3em;
  position: relative;

  font-size: 20px;
  height: 30em;

  min-height: 20em;

  overflow: auto;

  resize: vertical;

  canvas {
    position: relative;
    z-index: 1;
  }

  .tooltip {
    @include blurred-bkg();

    position: absolute;
    top: 5rem;
    left: 5.5rem;

    padding: 1em;
    border-radius: $border-radius;

    font-size: 0.9em;

    z-index: 100;

    .text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0.3em;
      margin: 0.2em 0;

      border-radius: $border-radius;

      font-weight: $fw-bold;

      &.md {
        background: $error !important;
      }

      span {
        font-weight: $fw-regular;
        margin-left: 0.5em;
      }

      &.color {
        color: $bkg;
      }
    }
  }

  .btn {
    @include blurred-bkg();

    padding: 0.7em;
    border-radius: $border-radius;

    cursor: pointer;

    z-index: 100;

    position: absolute;
    right: 1.5em;
    top: 4.5em;

    transition: color $transition, background-color $transition;

    &:hover {
      color: $bkg;
      background: $primary;
    }

    &.show-clean {
      top: 7.5em;
    }
  }
}
