.definable {
  text-decoration: underline;
  text-decoration-style: dotted;

  display: inline-block;

  cursor: help;

  .tooltip {
    @include blurred-bkg($bkg);
    color: white;

    font-size: 1rem;

    position: absolute;

    border-radius: $border-radius;
    padding: 1em;

    max-width: 20em;

    z-index: 120;

    .term {
      font-size: 1.5em;
      font-weight: $fw-bold;
    }
  }
}
