.ebs {
	&.home {
		@include rounded-panel();

		.buttons {
			display: flex;
			justify-content: center;

			margin-top: 0.5em;

			.lbtn {
				display: flex;
				align-items: center;
				flex-direction: column;

				box-sizing: border-box;
				width: min(45vw, 28em);
				margin: 0 0.5em;
				padding: 2em;

				transition: all $transition;

				border: 3px solid $white;
				border-radius: $border-radius;

				&.verify {
					border-color: $green;

					.icon {
						color: $green;
					}

					&:hover {
						color: $bkg;
						background: $green;

						.icon {
							color: $bkg;
						}
					}
				}

				&.lookup {
					border-color: $secondary;

					.icon {
						color: $secondary;
					}

					&:hover {
						color: $bkg;
						background: $secondary;

						.icon {
							color: $bkg;
						}
					}
				}

				.name {
					font-size: 4em;
					font-weight: $fw-bold;
				}

				.desc {
					font-size: 1.3em;
				}

				.icon {
					font-size: 10em;

					height: 1.2em;
				}
			}
		}
	}

	.title {
		display: flex;
		align-items: center;
		flex-direction: column;

		span {
			color: $primary;
		}

		.links {
			font-size: 1.2rem;
			font-weight: $fw-regular;

			display: flex;

			width: 22.5rem;

			.spacer {
				width: 0.3em;
			}

			.eb-link {
				flex-grow: 1;

				padding: 0.2em;

				transition: all $transition;

				border: 2px solid $white;
				border-radius: $border-radius;

				&:hover {
					color: $bkg;
					border-color: $primary;
					background: $primary;
				}
			}
		}
	}

	.btn {
		font-size: 2em;

		position: relative;

		display: inline-flex;
		align-items: center;
		flex-grow: 1;
		justify-content: center;

		padding: 0.3em;

		cursor: pointer;
		transition: all 0.1s ease-in-out;

		border: 3px solid $white;
		border-radius: $border-radius;

		&.yes {
			color: $green;
			border-color: $green;

			&:hover {
				color: $bkg;
				background: $green;
			}
		}

		&.no {
			color: $secondary;
			border-color: $secondary;

			&:hover {
				color: $bkg;
				background: $secondary;
			}
		}

		&.submit {
			color: $tertiary;
			border-color: $tertiary;

			&:hover {
				color: $bkg;
				background: $tertiary;
			}
		}

		&.reset {
			color: $error;
			border-color: $error;

			&:hover {
				color: $bkg;
				background: $error;
			}
		}

		.keys {
			font-size: 0.8em;

			position: absolute;
			right: 0.3em;

			display: flex;
			align-items: center;

			.key-sep {
				font-size: 1.2em;

				margin: 0 0.2em;

				color: $primary;
			}

			.key {
				position: static;

				width: 1.7em;
				height: 1.7em;
				margin: 0 0.1em;
			}
		}
	}

	.input {
		font-size: 0.7em;

		display: flex;
		justify-content: center;

		width: 100%;
		margin-top: 0.5em;

		.spacer {
			width: 0.5em;
		}
	}

	.input-wrapper {
		width: 100%;
	}

	.text-input-wrapper {
		font-size: 1.2em;

		position: relative;

		display: flex;

		width: 100%;

		input {
			flex-grow: 1;
		}

		.btn {
			flex-grow: 0;

			width: 0.8em;
			height: 0.8em;
			margin-left: 0.2em;

			color: $green;
			border-color: $green;

			&:hover {
				color: $bkg;
				background: $green;
			}
		}

		.key {
			font-size: 1.5em;

			position: absolute;
			top: 0;
			right: 2.5em;
			bottom: 0.1em;

			width: 1.7em;
			height: 1.7em;
			margin: auto;
		}
	}

	.quick-adds {
		font-size: 1.1em;

		display: grid;

		margin: 0.7em auto 0;

		border-radius: $border-radius;
		background: $sec4;

		grid-auto-rows: 1fr;
		grid-template-columns: repeat(3, 1fr);

		.quick-add {
			font-size: 0.9em;

			position: relative;

			display: flex;
			align-items: center;

			padding: 0.5em;

			cursor: pointer;
			transition: background-color $transition;

			border-radius: $border-radius;
			background: $sec4;

			.key {
				font-size: 0.8em;

				position: relative;

				width: 1.7em;
				height: 1.7em;
				margin-left: 0.2em;

				&.l {
					width: 3em;
					margin-left: 1em;
				}
			}

			&:hover {
				background: $sec5;
			}
		}
	}

	.answer-panel {
		font-size: 1.5em;

		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;

		min-width: 40%;
		margin-right: 0.5em;
		padding: 1em;

		border: 3px solid $primary;
		border-radius: $border-radius;

		.horiz {
			height: 2px;
			margin: 0.25em 0;

			background: $pri2;
		}

		.item {
			display: flex;
			justify-content: space-between;

			&.hidden {
				display: none;
			}

			&.active {
				color: $tertiary;
			}

			.question {
				font-weight: $fw-bold;

				span {
					color: $primary;
				}
			}
		}

		.title {
			font-size: 1.5em;
			font-weight: $fw-bold;

			margin-bottom: 0.5rem;
		}

		.buttons {
			font-size: 0.7em;

			display: flex;

			width: 100%;
			margin-top: auto;

			.spacer {
				width: 0.5em;
			}
		}
	}

	.panel {
		font-size: 1vw;

		position: relative;

		@include rounded-panel();

		.wrapper {
			display: flex;
			flex-direction: row-reverse;

			width: auto;
			margin: 0 auto;
		}

		img {
			box-sizing: border-box;
			width: 45vw;
			height: 100%;
			padding: 2em 0;

			border-radius: $border-radius;
			background: white;

			object-fit: cover;
		}

		.key {
			position: absolute;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			color: $bkg;
			border-radius: $border-radius;
			background: $primary;

			filter: drop-shadow(0 0.15em 0 $pri4);
		}

		.info {
			@media screen and (min-width: 1100px) {
				position: absolute;
				top: 1rem;
				right: 1rem;
			}

			@media screen and (max-width: 1100px) {
				display: inline-flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;

				margin-top: 0.5em;
				margin-bottom: 1em;
			}

			.step {
				font-size: 1.5em;

				display: inline-flex;
				align-items: center;
				justify-content: center;

				width: 2em;
				height: 2em;
				margin: 0.25em;

				border: 2px solid $white;
				border-radius: 50%;

				&.active {
					color: $secondary;
					border-color: $secondary;
				}

				&.done {
					color: $bkg;
					border-color: $green;
					background: $green;
				}
			}
		}

		&.lookup {
			.placeholder {
				font-size: 2em;

				display: flex;
				align-items: center;
				justify-content: center;

				width: 100%;

				border-radius: $border-radius;

				&.error {
					color: $bkg;
					background: $error;
				}

				&.loading {
					background: $pri2;
				}
			}

			.text-input-wrapper {
				font-size: 0.8em;

				margin-top: 1em;
			}
		}
	}

	.instructions {
		.step-marker {
			font-size: 1.7em;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			width: 2em;
			height: 2em;
			margin: 0.5em;

			border: 3px solid $white;
			border-radius: 50%;
		}
	}

	.success {
		position: fixed;
		z-index: 1000;
		right: 1em;
		bottom: 1em;

		display: flex;
		align-items: center;
		flex-direction: row;

		width: 20em;
		padding: 0.5em;

		transition: opacity 0.3s linear;

		opacity: 0;
		color: $bkg;
		border-radius: $border-radius * 2;
		background: $green;

		filter: drop-shadow(0 0.15em 0 $bkg);

		&.show {
			opacity: 1;
		}

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;

			margin-right: 1em;
			padding: 0.5em;

			border: 2px solid $bkg;
			border-radius: 50%;
		}

		.text {
			font-size: 1.2em;
		}
	}
}