.header,
.footer {
  .content {
    padding: 1rem 0.5rem;
    display: flex;

    align-items: center;

    .title {
      @include styled-title()
    }

    .links {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        @include bkg-on-hover($white);
        border-radius: $border-radius * 1.65;
      }

      .sep {
        color: $pri5;
        margin: 0 0.8rem;
      }
    }
  }
}

.header {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 3em;
  }

  .links {
    font-size: 2em;
  }

  .profile {
    height: 4em;
    width: 4em;

    background: $pri2;
    border-radius: $border-radius;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color $transition;

    cursor: pointer;

    &:hover {
      background: $pri3;
    }

    &.signed-in {
      color: $bkg;
      background: $primary;

      &:hover {
        background: $pri7;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: $pri1;

  .title {
    font-size: 2em;
  }

  .links {
    font-size: 1.6em;
  }
}
