.header {
  padding: 1rem 0.5rem;
  margin: 0 1rem;

  display: flex;

  .title {
    font-size: 3em;
    margin: 0 1rem;

    font-weight: $fw-black;

    span {
      background: $primary;
      color: $bkg;

      padding: 0 0.2em;
      margin: 0 0.1em;
      border-radius: $border-radius;
    }
  }

  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 2em;

    a {
      @include bkg-on-hover($white);
      border-radius: $border-radius * 1.65;
    }

    .sep {
      color: $pri5;
      margin: 0 0.8rem;
    }
  }
}
