.header,
.footer {
  padding: 1rem 0.5rem;
  display: flex;

  align-items: center;

  .title {
    margin: 0 1rem;

    font-weight: $fw-black;

    span {
      background: $primary;
      color: $bkg;

      padding: 0 0.2em;
      margin: 0 0.1em;
      border-radius: $border-radius;
    }
  }

  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      @include bkg-on-hover($white);
      border-radius: $border-radius * 1.65;
    }

    .sep {
      color: $pri5;
      margin: 0 0.8rem;
    }
  }
}

.header {
  margin: 0 1rem;

  .title {
    font-size: 3em;
  }

  .links {
    font-size: 2em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: $pri1;

  .title {
    font-size: 2em;
  }

  .links {
    font-size: 1.6em;
  }
}
