.link {
	text-decoration: underline;

	@include bkg-on-hover();
}

.borderless-link {
	cursor: pointer;
	transition: color $transition;
	text-decoration: underline;

	color: $primary;

	&:hover {
		color: $white;
	}
}