.profile-panel {
  @include rounded-panel();

  display: flex;
  flex-direction: column;
  align-items: center;

  > .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .name {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: $fw-semibold;
    font-size: 2em;

    .superuser-badge {
      font-size: 0.6em;
      display: inline-block;

      margin-left: 0.6rem;

      padding: 0.2em 0.3em;
      border-radius: $border-radius;

      border: 3px solid $secondary;
      color: $secondary;
    }
  }

  .stats {
    margin: 1em 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .stat {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: column;

      font-size: 1.5em;

      min-width: 8em;

      margin: 0.2em 0.4em;

      box-sizing: border-box;



      &.clickable {
        cursor: pointer;

        &:hover, &.active {
          .value {
            background: $sec3;
          }

          .name {
            background: $sec7;
          }
        }
      }

      :nth-child(1) {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      :nth-child(2) {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      .value,
      .name {
        width: 100%;
        padding: 0.2em;

        transition: background-color $transition;
      }

      .value {
        background: $pri2;

        font-weight: $fw-regular;
      }

      .name {
        font-weight: $fw-bold;
        background: $pri6;
        color: $bkg;
      }
    }
  }

  .sign-out {
    background: $error;
    color: $bkg;

    padding: 0.3em 0.5em;
    font-size: 0.5em;
    border-radius: $border-radius;

    font-weight: $fw-semibold;

    margin: 0 0.5em;

    cursor: pointer;

    transition: background-color $transition;

    &:hover {
      background-color: $err7;
    }

    display: inline-block;
  }

  .tic-table {
    margin: 0;
  }
}
