.tic-charts-panel {
  @include rounded-panel($pri2);

  > .title-sec {
    .title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .show-help {
        position: absolute;
        right: 0;

        width: 1em;
        height: 1em;

        margin: 0 0.2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: $border-radius;

        cursor: pointer;

        &:hover {
          background: $pri4;
        }

        &.active {
          background: $tertiary;
          color: $bkg;
        }
      }
    }

    .settings {
      &,
      & div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .btn {
        padding: 0.2rem 0.5rem;

        border-radius: $border-radius;

        cursor: pointer;

        &:hover {
          background: $white;
          color: $bkg;
        }

        &.active {
          background: $white;
          color: $bkg;
        }
      }

      .sep {
        margin: 0 0.5rem;
        color: $pri7;
      }
    }
  }

  .help-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 101;

    .help {
      @include blurred-bkg();

      position: relative;

      border-radius: $border-radius-large;

      padding: 3em;

      width: 20em;

      font-size: 1.7em;

      .title {
        font-size: 1.7em;
      }

      .key {
        background: $primary;
        color: $bkg;

        padding: 0.1em 0.3em;
        border-radius: $border-radius;

        filter: drop-shadow(0 0.15em 0 $pri4);
      }

      .row {
        margin: 0.3rem 0;

        &.resize {
          font-size: 0.8em;
          margin-top: 1em;
        }
      }

      .close {
        font-size: 0.7em;

        position: absolute;
        bottom: 0.6rem;
        left: 0;
        right: 0;
      }
    }
  }
}
