.tic-info {
  @include rounded-panel($color: $pri1);

  .title-sec-wrapper {
    text-align: center;

    .title-sec {
      display: inline-flex;
      flex-direction: column;
      align-items: center;

      margin: 0 auto 0.5em;

      .title {
        text-align: center;
        font-weight: $fw-regular;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-weight: $fw-bold;
        }

        .group {
          color: $bkg;
          background: $secondary;

          padding: 0.2em 0.3em;
          font-size: 0.5em;

          margin: 0 0.7em;

          border-radius: $border-radius;
        }
      }

      .published-badge {
        background: $tertiary;
        color: $bkg;

        width: 100%;

        margin-top: 0.4em;

        text-align: center;
        padding: 0.4em;
        border-radius: $border-radius;
      }

      .exofop-link {
        display: block;
        text-align: center;
        padding: 0.4em;

        width: 100%;

        background: $pri3;
        text-decoration: underline;

        border-radius: $border-radius;

        transition: background-color $transition;

        &:hover {
          background: $pri5;
        }
      }
    }
  }

  .data-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .data {
      font-size: 1.6em;
      width: 9.7em;
      margin: 0.25em;

      display: flex;
      flex-direction: column;

      .name,
      .value {
        padding: 0.2em;
      }

      .name {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        background: $pri6;
        color: $bkg;

        height: 1.37em;

        font-weight: $fw-bold;

        text-align: center;

        .unit {
          font-weight: $fw-semibold;
          color: $pri1;
        }
      }

      .value {
        text-align: center;
        background: $pri2;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-grow: 1;
      }
    }
  }

  .files {
    @include rounded-panel($pri2);

    table {
      width: 100%;
      font-size: 1.2em;

      tr {
        td {
          padding: 0.6em;
          border-radius: $border-radius;
        }

        &:nth-of-type(even) {
          background: $pri3;
        }
      }
    }
  }

  .dispositions {
    @include rounded-panel($sec2);

    .title {
      text-align: center;
      font-size: 2.6em;
    }

    .no-disps {
      margin-top: 1em;

      display: inline-block;
      padding: .3em .5em;

      border-radius: $border-radius;

      font-weight: $fw-semibold;
      font-size: 1.5em;

      background: $sec4;
    }
  }

  .show-charts-panel {    
    @include rounded-panel($pri2);

    cursor: pointer;

    transition: background-color $transition;

    .message {
      font-size: 1.3em;
    }

    &:hover {
      background: $pri3;
    }
  }
}
