.tic-table {
  @include rounded-panel();

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 1rem;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    position: relative;

    .style-toggle {
      position: absolute;
      right: 0;

      display: flex;

      .icon {
        width: 1em;
        height: 1em;

        margin: 0 0.2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: $border-radius;

        cursor: pointer;

        &:hover {
          background: $pri3;
        }

        &.active {
          background: $tertiary;
          color: $bkg;
        }
      }
    }
  }

  .settings {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: -0.7em 0 0.3rem;

    .filter {
      @include bkg-on-hover($white);

      &.active {
        background: $white;
        color: $bkg;
      }
    }

    .sep {
      margin: 0 0.5rem;
      color: $pri6;
    }
  }

  .row {
    width: 100%;
    padding: 1em;
    margin: 0.3rem 0;

    box-sizing: border-box;

    border-radius: $border-radius-large;

    .data.sort {
      background: $tertiary !important;
      color: $bkg;
    }

    &:nth-of-type(odd) {
      background: $pri2;

      .data {
        background: $pri3;

        &:nth-of-type(even) {
          background: $pri4;
        }
      }

      .num-dispositions {
        background: $pri3;
      }
    }

    &:nth-of-type(even) {
      background: $sec2;

      .link {
        @include bkg-on-hover($secondary);
      }

      .data {
        background: $sec3;

        &:nth-of-type(even) {
          background: $sec4;
        }
      }

      .disposition,
      .num-dispositions {
        background: $sec3;
      }
    }

    .header {
      font-weight: $fw-semibold;
      font-size: 1.5em;
      padding: 0 0.5rem;

      margin-bottom: 0.1em;

      display: flex;
      justify-content: center;
      align-items: center;

      a.tic-id {
        text-decoration: underline;
        @include bkg-on-hover($white);
      }

      .link {
        margin-left: 0.5rem;
      }
    }

    .data-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .data {
        font-weight: $fw-semibold;

        border-radius: $border-radius-large;
        padding: 1rem;

        width: 15em;
        height: 3.5em;

        margin: 0.2rem;

        display: inline-block;

        .value {
          font-weight: $fw-regular;
        }
      }
    }

    .num-dispositions {
      font-size: 1.3em;
      margin: 0.2em 0.3em;

      padding: 0.5em 0.5em;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: $border-radius;
    }
  }

  .table-compact {
    border-collapse: collapse;
    margin-top: 0.5em;

    tr {
      &:nth-of-type(even) {
        background: $pri3;
      }

      th {
        padding: 0.5em 1em;
        background: $secondary;

        color: $bkg;

        position: sticky;
        top: 0;

        &.sort {
          background: $tertiary;
        }

        &:first-of-type {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:last-of-type {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }

      td {
        word-wrap: break-word;
        overflow-wrap: break-word;

        text-align: center;

       // border: 1px solid $pri2;


        padding: 0.5em 1em;

        *:not(.tic-id) {
          max-width: 7em;
        }

        &.tic-id {
          text-align: center;

          a {
            @include bkg-on-hover($white);
          }
        }

        &:first-of-type {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:last-of-type {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }
}

.floating-search {
  @include blurred-bkg($pri2);
  border-radius: $border-radius;

  font-size: 1.3em;

  z-index: 100;

  padding: 1em;

  bottom: 0.5em;
  right: 0.5em;

  position: fixed;

  &,
  .label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label {
    margin-right: 0.5em;
  }

  .label svg {
    margin-right: 0.2em;
  }

  input {
    background: $primary;
    border: none;
    outline: none;

    padding: 0.3em 0.5em;

    border-radius: $border-radius;
    font-size: 1em;

    &::placeholder {
      color: $pri3;
    }

    color: $bkg;
  }
}
