.home {
  > .title {
    font-weight: $fw-bold;
    font-size: 3em;

    text-align: center;
  }

  > .description {
    font-size: 1.3em;
    text-align: center;
  }

  .section {
    margin: 1em 3em;
    padding: 0 4em;

    display: flex;
    align-items: center;

    border-radius: $border-radius-large;

    &:nth-of-type(odd) {
      background: $pri1;
    }

    .text {
      position: relative;
      z-index: 100;

      width: 50%;

      .title {
        font-size: 2.7em;
        font-weight: $fw-bold;
      }

      .description {
        font-size: 1.4em;
      }
    }

    img {
      z-index: 1;

      padding: 4em;
      box-sizing: border-box;

      max-width: 50%;
      width: auto;
      height: auto;
    }
  }
}
