@mixin bkg-on-hover($color: $primary) {
  color: $color;
  padding: 0.3em;
  border-radius: 0.25rem;

  box-sizing: content-box;

  transition: background-color $transition, color $transition;

  &:hover {
    background: $color;
    color: $bkg;

    cursor: pointer;
  }
}

@mixin rounded-panel($color: $pri1) {
  background: $color;
  border-radius: $border-radius-large;
  padding: 1rem;
  margin: 1rem;

  text-align: center;

  .title {
    font-size: 3em;
    font-weight: $fw-bold;
  }
}

@mixin blurred-bkg($color: $pri1) {
  @supports not (backdrop-filter: none) {
    background: rgba($color, .95);
  }

  @supports (backdrop-filter: none) {
    background: rgba($color, 0.75);
    backdrop-filter: blur(10px) saturate(125%); 
  }
}
