// Colors
$bkg: #131c24;
$white: #f0f0f0;

$primary: #61dafb;

$pri1: mix($bkg, $primary, 95%);
$pri2: mix($bkg, $primary, 80%);
$pri3: mix($bkg, $primary, 70%);
$pri4: mix($bkg, $primary, 60%);
$pri5: mix($bkg, $primary, 50%);
$pri6: mix($bkg, $primary, 40%);

$error: #f64961;

$err1: mix($bkg, $error, 80%);
$err2: mix($bkg, $error, 70%);

$secondary: #fb61bd;

$sec1: mix($bkg, $secondary, 90%);
$sec2: mix($bkg, $secondary, 80%);
$sec3: mix($bkg, $secondary, 70%);
$sec4: mix($bkg, $secondary, 60%);
$sec5: mix($bkg, $secondary, 50%);
$sec6: mix($bkg, $secondary, 40%);
$sec7: mix($bkg, $secondary, 30%);
$sec8: mix($bkg, $secondary, 20%);
$sec9: mix($bkg, $secondary, 10%);

$tertiary: #ffe345;

// Font Weights

//$fw-thin: 100;
$fw-light: 200;
$fw-regular: 300;
//$fw-medium: 400;
$fw-semibold: 600;
$fw-bold: 775;
$fw-black: 850;

// Misc
$border-radius: 0.25em;
$border-radius-large: 1em;
$transition: 0.15s ease-in-out;
